.pink-bg{
    background-color: rgb(255, 236, 235);
    border-radius: 10px;
}
.carousel-item{
    padding: 40px 40px;
}
.buy-now-button{
    background-image: linear-gradient(90deg,rgb(211, 112, 181),pink);
    padding: 10px 20px;
    border-radius: 7px;
    color: white;
    border: none;
    text-transform: uppercase;
}
.price{
    color: rgb(213, 66, 66);
}
.container{
    margin-bottom: 100px;
}
.item1{
    background-color: rgb(177, 93, 255);
}
.item2{
    background-color: rgb(53, 157, 255);
}
.item3{
    background-color: rgb(59, 255, 245);
}
.item{
    min-width: 30%;
    border-radius: 20px;
    margin: 10px;
}
.catagory{

    justify-self: center;
}
.card-title{
    text-transform: capitalize;
}
.card{
    border: none;
    box-shadow: 3px 3px 20px;
}
.card-footer{
    border: none;
    background-color: white;
}
.flax{
    display: flex;
}
.sub{
    height: 300px;
}
footer{
    color: grey;
    text-align: center;
}